body {
    margin: 100px;
}
.grid-container {
    display: grid;
    grid-gap: 15px;
    grid-template-columns: 200px 200px 200px;
    grid-template-rows: 200px 200px 200px;
    justify-content: center;
    
}
/* citations: https://www.youtube.com/watch?v=47WMoAfwfkU&ab_channel=KIRUPA */
.grid-container div{
    border-style:groove;
}
.item-1{
    
}
.item-2{

}
.item-3{

}
.item-4{

}
.item-5{

}
.item-6{

}
.item-7{

}
.item-8{

}
.item-9{

}